{% extends 'base.html' %}
{% block content %}
    {% for invalid in invalids %}
        {% if invalid is not none %}
            Not a valid {{invalid}}<br>
        {% endif %}
    {% endfor %}
    <div id="form">
        <form action="/convert">
            <p>Converting from <input type="text" name="from"></p>
            <p>Converting to <input type="text" name="to"></p>
            <p>Amount <input type="text" name="amount"></p><br>
            <button>Submit</button>
        </form>
    </div>    
{% endblock %}